
@{
    ViewBag.Title = "Resources";
}

<h3>Resources</h3>

<button class="button1" style="vertical-align:middle"><span><a href="https://purussvr.fareast.corp.microsoft.com/PurusReview/MyCaseView.aspx?region=ASIA" target="_blank"> Purus </a></span></button>
<button class="button1" style="vertical-align:middle"><span><a href="https://aka.ms/onereadiness" target="_blank"> One Readiness </a></span></button>
<button class="button1" style="vertical-align:middle"><span><a href="https://contentidea/" target="_blank"> Content Idea </a></span></button>
<button class="button1" style="vertical-align:middle"><span><a href="https://office.visualstudio.com/OC" target="_blank"> VSO (Win32) </a></span></button>
<button class="button1" style="vertical-align:middle"><span><a href="https://office.visualstudio.com/APEX" target="_blank"> VSO (Apex) </a></span></button>
<button class="button1" style="vertical-align:middle"><span><a href="https://portal.microsofticm.com/" target="_blank"> ICM </a></span></button>
<button class="button1" style="vertical-align:middle"><span><a href="https://microsoft.sharepoint.com/sites/infopedia" target="_blank"> Infopedia (FTE) </a></span></button>

<button class="button1" style="vertical-align:middle"><span><a href="https://aka.ms/officetweaks" target="_blank"> Office Tweaks</a></span></button>
<button class="button1" style="vertical-align: middle; background-color: #e23e2ed1"><span><a href="https://microsoft-my.sharepoint.com/:w:/p/bhamv/EaEyzOFLSslOt6umo7ixtBMBhNcr1lj1RDCHCdAyitC-NA?e=ZGoxEr" target="_blank"> About us </a></span></button>

<script>
    $(document).ready(function () {
        $(".w3-bar-block a").removeClass("w3-blue");
        $(".w3-bar-block a:nth-child(5)").addClass("w3-blue");
    });
</script>