@{
    ViewBag.Title = "Tools";
}

<h3>Tools</h3>

<button class="button1" style="vertical-align:middle"><span>
    <a href="https://microsoft-my.sharepoint.com/:w:/r/personal/bhamv_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2689E07B-6A74-41FA-9C1C-CFEE04C62685%7D&file=Steps_ProcMon%26ProcDump.docx&action=default&mobileredirect=true&share=IQF74IkmdGr6QZwcz-4ExiaFAQ2nRoDgZp1xzVKj0UQLqqg" target="_blank"> Process Monitor </a>
</span></button>
<button class="button1" style="vertical-align:middle"><span><a href="https://microsoft-my.sharepoint.com/:w:/r/personal/bhamv_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2689E07B-6A74-41FA-9C1C-CFEE04C62685%7D&file=Steps_ProcMon%26ProcDump.docx&action=default&mobileredirect=true&share=IQF74IkmdGr6QZwcz-4ExiaFAQ2nRoDgZp1xzVKj0UQLqqg" target="_blank"> ProcDump </a></span></button>
<button class="button1" style="vertical-align:middle"><span><a href="#"> TTTrace </a></span></button>
<button class="button1" style="vertical-align:middle"><span><a href="#"> WPR Traces </a></span></button>
<button class="button1" style="vertical-align:middle"><span><a href="#"> Debug Diag </a></span></button>
<button class="button1" style="vertical-align:middle"><span><a href="#"> MSO Dump </a></span></button>
<button class="button1" style="vertical-align:middle"><span><a href="#"> Fiddler </a></span></button>

<script>
    $(document).ready(function () {
        $(".w3-bar-block a").removeClass("w3-blue");
        $(".w3-bar-block a:nth-child(6)").addClass("w3-blue");
    });
</script>